*/**.git
.DS_Store
node_modules
.env
.env.local

__pycache__

.vscode

**/db

**/incremental_db
**/*.cmp.*
**.rpt
**.jdi
**.sld
**.sof
**.pin
**.qpf
**.qsd
**.qws
**.smsg
**.bak
**.sft
**.vho
**.xrf
**.qsf
**.cdf
